.modal-dialog .modal-header{ 
	font-family: sans-serif;
	color: black;
}

.modal-dialog input {
	display: block;
	width: 100%;
}

.modal-dialog label {
	font-family: fantasy;
	color: gray;
	font-weight: normal;
}

li:nth-child(odd) {
	background-color: darkgray;
	
}

li:nth-child(even) {
background-color: whitesmoke;  
}

p:nth-child(odd) {
	background-color: darkgray;
	
}

p:nth-child(even) {
background-color: whitesmoke;  
}