
<div class="row main-content">
	<div class="side-bar col-md-3">
		<h1> Bloc Chat</h1>
		<div class="row">

			<ul class="room-list col-sm-6">
				<li ng-repeat="room in home.Rooms" ng-click="showmessages(room.$id)">{{room.$value}}</li>
			</ul>

			<div class="col-sm-6">
				<button class="add-room btn btn-default" ng-click="addRoom()">Add Room</button>
			</div>
			
		</div>

	</div>
	<div class="col-md-9 message-container">
		<h2 class="room-name">{{home.roomName}}</h2>
		<ul class="message-list">
			<li ng-repeat= "message in home.messages">
				<div class="text-left message-block">
					<div class="author-box clear-fix">
						<p class="author">{{message.username}}</p>
						<div class="text-right message-date">
							<span class="time">{{message.sentAt}}</span>
						</div>
					</div>
					<p class="message">{{message.content}}</p>
				

				</div>
				
			</li>
		</ul>
		<div class="row">
            <textarea type="text" id="message-box" class="form-control col-md-10" ng-model="messageInput" placeholder="Type your message: "></textarea>
            <button id="send" class="btn btn-default col-md-2" type="button" ng-click="addMessage()">Send Message</button>
        </div>
		
	</div>
</div>